@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>AHORCADO</h1>

    @{
        
        List<char> letrasUsadas = new List<char>();
        char[] LetrasAdivinadas = null; 
    }

    <a href='@Url.Action("Juego", "Home", new { LU = letrasUsadas , LA = LetrasAdivinadas})'>a</a>

    
</div>
