@{
    ViewData["Title"] = "Juego";
}

<div>
    @if (ViewBag.LetrasAdivinadas != null)
    {
        <h3>
            @foreach (char a in ViewBag.LetrasAdivinadas)
            {
                @($"{a} ")
            }
        </h3>
    }

    <form action='@Url.Action("AdivinarLetra", "Home")' method="POST" enctype="multipart/form-data">

        <input type="text" name="letraTirada" maxlength="1">
        <input type="submit" value="Adivinar Letra" />

    </form>

</div>
<div>


    <form action='@Url.Action("AdivinarPalabra", "Home")' method="POST" enctype="multipart/form-data">

        <input type="text" name="AdivinarPalabra" maxlength="@(ViewBag.DuraciónPalabra)">
        <input type="submit" value="Adivinar Palabra" />

    </form>
</div>